<div>
  <div class="message-content-container">
    <span class="message-from">From: {{ message.fromUser }}</span>
    <span class="message-content">Message: {{ message.text }}</span>
  </div>
  <mat-divider></mat-divider>
</div>
