<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="time">Time</th>
    <th mat-sort-header="message">Message</th>
    <th mat-sort-header="userId">User Id</th>
  </tr>

  <tr *ngFor="let log of sortedData">
    <td>{{ log.time }}</td>
    <td>{{ log.message }}</td>
    <td>{{ log.userId }}</td>
  </tr>
</table>
