﻿@using Backend.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@model List<SoundCollection>
<body>
    <a href="/Home/Logs/">Logs</a>
    <form action="api/users/@User.Identity.Name/playlists" method="post">
        <label for="name">Title:</label>
        <input type="text" name="name"/>
        <label for="isOfficial">Official</label>
        <input type="checkbox" name="isOfficial" id="isOfficial"/>
        <input type="hidden" name="is_official" id="is_official"/>
        <button type="submit">Create playlist</button>
    </form>
    @foreach (var playlist in Model)
    {
        <div>
            <img src="api/playlists/@playlist.SoundCollectionId/photo">
            @playlist.Name
        </div>
        <a asp-controller="Home" asp-action="Songs" asp-route-playlistId="@playlist.SoundCollectionId">Songs</a>
    }
    <script type="text/javascript" src="js/toBoolean.js"></script>
</body>

