﻿@using Backend.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@model List<Log>

<body>
    @foreach (var log in Model)
    {
        <div>
            @log.Time - @log.Message - @log.UserId
        </div>
    }
</body>
