﻿@using Backend.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@model List<Sound>
<body>
<a href="/Home/Logs/">Logs</a>
    <form action="~/api/playlists/@ViewBag.playlistId/songs" method="post">
        <label for="name">Title:</label>
        <input type="text" name="name"/>
        <label for="author">Author:</label>
        <input type="text" name="author"/>
        <button type="Submit">Add song</button>
    </form>
    @foreach (var sound in Model)
    {
    <div>
        <audio controls>
            <source src="api/songs/@sound.SoundId" type="audio/mp3">
        </audio>
        @sound.Author - @sound.Name
    </div>
    }
</body>

