<mat-tab-group>
  <mat-tab label="Tracks">
    <app-user-track *ngFor="let song of songs" [song]="song" (deleteSong)="deleteSong($event)"]></app-user-track>
  </mat-tab>
  <mat-tab label="Playlists">
    <div class="playlists">
      <app-user-playlist *ngFor="let playlist of playlists" [playlist]="playlist" (deletePlaylist)="deletePlaylist($event)"></app-user-playlist>
    </div>
  </mat-tab>
  <mat-tab label="Albums">
    <div class="playlists">
      <app-user-playlist *ngFor="let playlist of albums" [playlist]="playlist" (deletePlaylist)="deletePlaylist($event)"></app-user-playlist>
    </div>
  </mat-tab>
  <mat-tab label="Messages">
    <app-user-message *ngFor="let message of messages" [message]="message"></app-user-message>
  </mat-tab>
  <mat-tab label="Logs" *ngIf="logs">
    <app-logs [logs]="logs"></app-logs>
  </mat-tab>
</mat-tab-group>
