﻿@model Backend.ViewModels.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/body.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <a class="btn btn-light nav-item" asp-action="Register" asp-controller="Account">Sign Up</a>
        <a class="btn btn-light nav-item" asp-action="Login" asp-controller="Account">Log In</a>
    </nav>
    <div class="container d-flex justify-content-center">
        <form class="login" asp-action="Login" asp-controller="Account" method="POST">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Username" for="username">Username:</label>
                    <input asp-for="Username"
                           type="text"
                           class="form-control"
                           required="required"
                           placeholder="Enter username">
                    <span asp-validation-for="Username" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" for="pwd">Password:</label>
                    <input asp-for="Password"
                           type="password"
                           class="form-control"
                           required="required"
                           minlength="8"
                           placeholder="Enter password" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>